<ul id="timeline" class="clearfix">
    <% var imageI = 1; for(i=0; i< doc.article.length; i++) {%>
    <li class="animated fadeInUp">
        <article id="post-29"
                 class="post-29 post type-post status-publish format-standard has-post-thumbnail hentry category-category-trio tag-audio tag-gallery tag-post-formats tag-responsive tag-video tag-wordpress-2 has_thumb clearfix">


                        <span class="entry-date"><span class="entry-meta-date"><time
                                datetime=" <%-: doc.article[i].blogDate| truncate:16 %>">
                            <%-: doc.article[i].blogDate| truncate:16 %>
                        </time></span></span>

            <!-- .hentry-box -->
            <div class="hentry-box">

                <% if(doc.article[i].blogImage != "") { %>
                <figure class="entry-thumb">

                    <img width="800" height="531"
                         src="<%=doc.article[i].blogImage %>"
                         class="attachment-post wp-post-image" alt=""/>
                    <figcaption class="entry-thumb-caption">
                        <div class="caption-content">
                            <a class="readmore" href="/article/<%=doc.article[i]._id %>" rel="nofollow">Read
                                Post</a>
                        </div>
                    </figcaption>

                </figure>
                <% } %>
                <% if(doc.article[i].blogImage == "") { if(imageI == 4){
                imageI = 1;
                }%>
                <blockquote class="entry-quote entry-quote<%=doc.article[i].blogNum %>">
                    <% imageI++; } %>
                    <div class="entry-wrap">

                        <header class="entry-header">
                            <h2 class="entry-title"><a href="/article/<%= doc.article[i]._id %>"
                                                       rel="bookmark"><%=doc.article[i].blogTitle %></a></h2>
                        </header>

                        <div class="entry-summary clearfix">
                            <p><%-: doc.article[i].blogContent| truncate:100 %> ...</p>
                        </div>


                        <!-- /.hentry-wrap -->
                    </div>
                    <% if(doc.article[i].blogImage == "") { %>
                </blockquote>
                <% } %>

                <!-- /.hentry-box -->
            </div>


            <footer class="entry-footer">
                <ul>
                    <li><i class="icon-link"></i><a href="/article/<%=doc.article[i]._id %>">View Post</a></li>

                    <!--<li><i class="icon-comment"></i><a href="standard-post-format/index.html#respond"-->
                    <!--title="Comment on Standard Post Format">Add-->
                    <!--Comment</a>-->
                    <!--</li>-->
                </ul>
            </footer>


        </article>
    </li>
    <% } %>
</ul>
<nav role="navigation" id="nav-below" class="site-navigation paging-navigation clearfix">
    <ul class="clearfix">
        <% if(parseInt(option.pageNumber) != 1) { %>
        <li class="nav-previous"><a href="/categoryblog/<%= parseInt(option.pageNumber)-1 %>/<%= option.idObj._id %>"
                                    id="mioprevious"
                                    onclick="return false;"><i class="icon-chevron-left"></i></a></li>
        <% }
        if(option.totalPage != option.pageNumber) {
        %>
        <li class="nav-next"><a href="/categoryblog/<%= parseInt(option.pageNumber)+1 %>/<%= option.idObj._id %>"
                                id="mionext"
                                onclick="return false;"><i class="icon-chevron-right"></i></a></li>
        <% } %>
    </ul>
</nav>
<!-- #nav-below -->