<!-- #site-footer -->
<footer id="site-footer" class="clearfix">
    <div id="footer-bottom" class="clearfix">
        <div class="container">
            <small id="copyright" role="contentinfo">© Copyright cocoscript.</small>
        </div>
    </div>
</footer>
<!-- /#site-footer -->
<script type='text/javascript' src='/miofront/js/jquery/jquery.js'></script>
<script type='text/javascript' src='/miofront/js/jquery/jquery-migrate.min.js'></script>
<script type='text/javascript' src="/miofront/js/functions.js"></script>
<script type='text/javascript' src="/miofront/js/mioscroll.js"></script>
