<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width"/>
    <title>softcoco</title>
    <script type="text/javascript" src="/seajs/sea.js" ></script>
	<script type="text/javascript"> seajs.use("/seajs/main"); </script>
    <!--[if lte IE 7]>
    <link rel='stylesheet' id='font-awesome-ie7-css'
          href="/miofront/css/font-awesome-ie7.min.css"
          type='text/css' media='all'/>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="/miofront/js/html5.js"></script><![endif]-->
    <!--[if (gte IE 6)&(lte IE 8)]>
    <script src="/miofront/js/selectivizr-min.js"></script>
    <![endif]-->
    <style type="text/css">
    body.on{
        display: none;
    }
</style>
</head>