<!-- 回到顶部 -->
<div id="shangxia">
    <div id="shang"></div>
    <div id="comt"></div>
    <div id="xia"></div>
</div>
<!-- /回到顶部 -->

<!-- #header -->
<header id="site-header" class="clearfix" role="banner">
    <!-- #logo -->
    <div id="logo">
        <!-- .container -->
        <div class="container" style="height:56px;">
            <a title="Scopic" href="/">
                <h1 class="site-title">FOCUS  前端</h1>
                <h2 class="site-description">FOCUS  前端</h2>
                <a href="/" class="navbar-brand" style="line-height:56px;">FOCUS  前端</a>
            </a>
        </div>
        <!-- /.container -->
    </div>
    <!-- /#logo -->
    <!-- #primary-nav-mobile -->
    <nav id="nav-primary-mobile" class="clearfix">
        <a class="menu-toggle" href="#"><i class="icon-reorder"></i>Menu</a>
        <ul id="mobile-menu" class="clearfix">
            <li id="menu-item-104" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-104">
                <a href="/">主页</a>
            </li>
            <li id="nav-category-mb" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-113"><a href="#" onclick="return false;">标签</a>
            </li>
            <li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71"><a href="#">关于我</a>
            </li>
             <li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71"><a href="/lab/1">实验室</a>
            </li>           
        </ul>
    </nav>
    <!-- /#primary-nav-mobile -->
    <div id="header-bottom" role="navigation" class="clearfix">
        <!-- .container -->
        <div class="container">
            <!-- #primary-nav -->
            <nav id="nav-primary">
                <div class="mio-nav">
                    <ul>
                        <li><a href="/" id = "nav-home">主页</a>
                        </li>
                        <li><a id="nav-category" onclick="return false;" href="#">标签</a>
                        </li>
                        <li class="youarehere"><a id="nav-aboutme" href="#">关于我</a>
                        </li>
                        <li><a id="nav-blog" class = "mio-nav-blog" href="#">文章</a>
                        </li>
                        <li class="miolab"><a id="nav-lab" href="/lab/1">实验室</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- #primary-nav -->
            <!--             <ul id="social-icons" class="clearfix">
    <li class="rss"><a href="#"><i class="icon-rss"></i></a></li>
    <li class="twitter"><a href="#"><i class="icon-twitter"></i></a></li>
    <li class="facebook"><a href="#"><i class="icon-facebook"></i></a></li>
</ul> -->
            
            <img id = "mioImageMe" width="95" height="95" class="avatar" src="/miofront/images/me.png" alt="softcoco">
            <div class = "header-nav-title"><%=mioNavTitle %></div>
           
        </div>
        <!-- /.container -->
    </div>
</header>
<!-- /#header -->

<!-- #标签 -->
<div id="footer-widgets" class="clearfix">
    <div class="container">
        <div class="ht-grid ht-grid-stacked">
            <div id="tag_cloud-2" class="ht-column ht-col-third widget widget_tag_cloud"><!-- <h4 class="widget-title">
                <span>标签.</span></h4> -->

                <div class="tagcloud" id="collapseOne">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /标签 -->
