<!DOCTYPE html>
<html>
<head>
    <title>cocoscript后台管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap -->
    <link href="mioback/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="mioback/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

    <!-- libraries -->
    <link href="mioback/css/lib/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />
    <!-- <link href="mioback/css/lib/font-awesome.css" type="text/css" rel="stylesheet" /> -->
    <link href="mioback/lib/font-awesome-4.2.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="mioback/css/compiled/layout.css" />
    <link rel="stylesheet" type="text/css" href="mioback/css/compiled/elements.css" />
    <link rel="stylesheet" type="text/css" href="mioback/css/compiled/icons.css" />

    <!-- index -->
    <link rel="stylesheet" href="mioback/css/compiled/index.css" type="text/css" media="screen" />

    <!-- this page specific styles -->
    <link rel="stylesheet" href="mioback/css/compiled/form-showcase.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="mioback/css/compiled/web-app-icons.css" type="text/css" media="screen" />
    
    <!-- write and editor blog -->
    <link rel="stylesheet" href="manhuaTip/css/manhuaTip.1.0.css" type="text/css" media="screen" />

    <!-- manage -->
    <link href="mioback/css/lib/jquery.dataTables.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="mioback/css/compiled/datatables.css" type="text/css" media="screen" /> 
    <style>
        .sortTitleSpan {
            cursor: pointer;
        }
        .mioblogImage {
            display: none;          
        }
        .on.mioblogImage {
            display: block;     
        }
        .mioyingtu {
            display: none;          
        }
        .on.mioyingtu {
            display: block;     
        }  

        .hiddenTdId, .editCateName{
            display: none;
        }

        .cateName{
            cursor: crosshair;
        }            
    </style>   

    <!-- open sans font -->
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />-->

    <!-- lato font -->
    <!--<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />-->

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="icon" type="image/png" href="/miofront/images/me.png">
</head>
<body>
<!-- navbar -->
<header class="navbar navbar-inverse" role="banner">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" id="menu-toggler">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/backindex">
            <!-- <img src="mioback/img/logo.png" alt="logo" /> -->
                <i class="fa fa-leaf"></i>
                <span>Cocosript</span>
        </a>
    </div>
    <ul class="nav navbar-nav pull-right hidden-xs">
        <li class="hidden-xs hidden-sm">
            <input class="search" type="text" />
        </li>
        <li class="notification-dropdown hidden-xs hidden-sm">
            <a href="#" class="trigger">
                <i class="fa fa-warning"></i>
                <span class="count">8</span>
            </a>
            <div class="pop-dialog">
                <div class="pointer right">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <div class="body">
                    <a href="#" class="close-icon"><i class="fa  fa-times-circle"></i></a>
                    <div class="notifications">
                        <h3>You have 6 new notifications</h3>
                        <a href="#" class="item">
                            <i class="fa fa-sign-in"></i> New user registration
                            <span class="time"><i class="fa fa-clock-o"></i> 13 min.</span>
                        </a>
                        <a href="#" class="item">
                            <i class="fa fa-sign-in"></i> New user registration
                            <span class="time"><i class="fa fa-clock-o"></i> 18 min.</span>
                        </a>
                        <a href="#" class="item">
                            <i class="fa fa-envelope-o"></i> New message from Alejandra
                            <span class="time"><i class="fa fa-clock-o"></i> 28 min.</span>
                        </a>
                        <a href="#" class="item">
                            <i class="fa fa-sign-in"></i> New user registration
                            <span class="time"><i class="fa fa-clock-o"></i> 49 min.</span>
                        </a>
                        <a href="#" class="item">
                            <i class="fa fa-download"></i> New order placed
                            <span class="time"><i class="fa fa-clock-o"></i> 1 day.</span>
                        </a>
                        <div class="footer">
                            <a href="#" class="logout">View all notifications</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="notification-dropdown hidden-xs hidden-sm">
            <a href="#" class="trigger">
                <i class="fa fa-envelope"></i>
            </a>
            <div class="pop-dialog">
                <div class="pointer right">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <div class="body">
                    <a href="#" class="close-icon"><i class="fa fa-times-circle"></i></a>
                    <div class="messages">
                        <a href="#" class="item">
                            <img src="mioback/img/contact-img.png" class="display" alt="user" />
                            <div class="name">Alejandra Galván</div>
                            <div class="msg">
                                There are many variations of available, but the majority have suffered alterations.
                            </div>
                            <span class="time"><i class="fa fa-clock-o"></i> 13 min.</span>
                        </a>
                        <a href="#" class="item">
                            <img src="mioback/img/contact-img2.png" class="display" alt="user" />
                            <div class="name">Alejandra Galván</div>
                            <div class="msg">
                                There are many variations of available, have suffered alterations.
                            </div>
                            <span class="time"><i class="fa fa-clock-o"></i> 26 min.</span>
                        </a>
                        <a href="#" class="item last">
                            <img src="mioback/img/contact-img.png" class="display" alt="user" />
                            <div class="name">Alejandra Galván</div>
                            <div class="msg">
                                There are many variations of available, but the majority have suffered alterations.
                            </div>
                            <span class="time"><i class="fa fa-clock-o"></i> 48 min.</span>
                        </a>
                        <div class="footer">
                            <a href="#" class="logout">View all messages</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle hidden-xs hidden-sm" data-toggle="dropdown">
               我的账户
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/signout">退出</a></li>
                <li><a href="/" target="_blank">主页</a></li>
            </ul>
        </li>
        <li class="settings hidden-xs hidden-sm">
            <a href="#" role="button">
                <i class="fa fa-cog"></i>
            </a>
        </li>
        <li class="settings hidden-xs hidden-sm">
            <a href="/signout" role="button">
                <i class="fa fa-sign-out"></i>
            </a>
        </li>
    </ul>
</header>
<!-- end navbar -->

<!-- sidebar -->
<div id="sidebar-nav">
    <ul id="dashboard-menu">
        <li>
            <a href="/backindex">
                <i class="fa fa-home"></i>
                <span>控制面板</span>
            </a>
        </li>
        <li>
            <a class="dropdown-toggle" href="#">
                <i class="fa fa-user"></i>
                <span>个人中心</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu">
                <li><a href="user-list.html">User list</a></li>
                <li><a href="new-user.html">New user form</a></li>
                <li><a href="user-profile.html">User profile</a></li>
            </ul>
        </li>
        <li>
            <a class="dropdown-toggle" href="#">
                <i class="fa fa-edit"></i>
                <span>博客管理</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu" id = "blogNav">
                <li><a href="/writeblog">写日记</a></li>
                <li><a href="/manageblog">管理日记</a></li>
                <li><a href="/managefile">管理文件</a></li>
                <li><a href="/managecate">管理组别</a></li>
            </ul>
        </li>
    </ul>
</div>
<!-- end sidebar -->
