
<% include header.html %>
<!-- main container -->
<div class="content">

<!-- settings changer -->
<div class="skins-nav">
    <a href="#" class="skin first_nav selected">
        <span class="icon"></span><span class="text">Default skin</span>
    </a>
    <a href="#" class="skin second_nav" data-file="mioback/css/compiled/skins/dark.css">
        <span class="icon"></span><span class="text">Dark skin</span>
    </a>
</div>

<!-- upper main stats -->
<div id="main-stats">
    <div class="row stats-row">
        <div class="col-md-3 col-sm-3 stat">
            <div class="data">
                <span class="number">2457</span>
                visits
            </div>
            <span class="date">Today</span>
        </div>
        <div class="col-md-3 col-sm-3 stat">
            <div class="data">
                <span class="number">3240</span>
                users
            </div>
            <span class="date">February 2013</span>
        </div>
        <div class="col-md-3 col-sm-3 stat">
            <div class="data">
                <span class="number">322</span>
                orders
            </div>
            <span class="date">This week</span>
        </div>
        <div class="col-md-3 col-sm-3 stat last">
            <div class="data">
                <span class="number">$2,340</span>
                sales
            </div>
            <span class="date">last 30 days</span>
        </div>
    </div>
</div>
<!-- end upper main stats -->
</div>
<!-- end main container -->
<% include footer.html %>

<script>
    $(function() {
        //active
        var $firstChild = $("#dashboard-menu>li:first-child");
        $firstChild.addClass('active');
        // border
        $('<div class="pointer">'+
          '<div class="arrow"></div>'+
          '<div class="arrow_border"></div>'+
          '</div>').appendTo($firstChild);

    })
</script>

</body>

</html>