<% include header.html %>

<!-- main container -->
<div class="content">

    <!-- settings changer -->
    <div class="skins-nav">
        <a href="#" class="skin first_nav selected">
            <span class="icon"></span><span class="text">Default skin</span>
        </a>
        <a href="#" class="skin second_nav" data-file="mioback/css/compiled/skins/dark.css">
            <span class="icon"></span><span class="text">Dark skin</span>
        </a>
    </div>

    <div id="pad-wrapper" class="datatables-page">

        <div class="row">
            <div class="col-md-12">

                <table id="managecate">
                    <thead>
                    <tr>
                        <th tabindex="0" rowspan="1" colspan="1">id
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">标题
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">文章数目
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">创建时间
                        </th>

                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                    <tfoot>
                    <tr>
                        <th rowspan="1" colspan="1">id</th>
                        <th rowspan="1" colspan="1">标题</th>
                        <th rowspan="1" colspan="1">文章数目</th>
                        <th rowspan="1" colspan="1">创建时间</th>

                    </tr>
                    </tfoot>

                </table>

            </div>
        </div>

    </div>

</div>
<!-- end main container -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">修改类别名字：</h4>
            </div>
            <div class="modal-body" >

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for = "cateInputtextName"  class="col-sm-2 control-label">类别</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="cateInputtextName" placeholder="请输入类别名字">
                        </div>
                    </div>
                    <input type = "hidden" id = "cateHidId">
                </form>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id = "sureEditor" class="btn btn-primary">确认</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- scripts -->
<% include footer.html %>
<script src="mioback/js/jquery.dataTables.js"></script>
<!-- tan -->
<script src="manhuaTip/js/manhuaTip.1.0.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        var curCliEdtObj = null;
        $('#managecate').dataTable({
            "initComplete": function() {

                //点击编辑类别
                $('.cateName').click(function() {
                    var me = this;
                    if($.trim($(this).html()) == "标题")
                        return;
                    var id = $(me).parent().children('td')[0].innerText;
                    curCliEdtObj = me;
                    $("#cateInputtextName").val($(this).html());
                    $("#cateHidId").val(id);
                    $('#myModal').modal('show');

                });
//                $("#managecate").delegate('.cateName',"click",function(obj, dd){
//
//                    console.log(obj);
//                    if(!$(this).find("input")) {
//                        var temp = '<input type="text" value = "df" />'
//                        $(this).append(temp);
//                    }
//                });
            },
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "sAjaxSource": '/miobackgetcate',
            "aoColumns": [
                { "mData": "_id", 'sClass':'hiddenTdId'},
                { "mData": "categoryName", "sClass": "cateName"},
                { "mData": "article.length"},
                { "mData": "categoryDate"}
            ]
        });

        //模态点击修改类别名字
        $("#sureEditor").click(function() {

           var me = curCliEdtObj;
            var id = $("#cateHidId").val();
            var newVal = $.trim($("#cateInputtextName").val());
            if(newVal == "" ) {
                return;
            }
            $.ajax({
                url: '/editorCategoryName',
                data: {
                    categoryId: id,
                    cagtegoryName: newVal,
                    _csrf: '<%=csrf %>'
                },
                type: 'post',
                success: function(data) {
                    if(data.success === true) {
                        $(me).html(newVal);
                        $('#myModal').modal('hide')
                        $("#mioEditorSucess").trigger("click");
                    }
                },
                error: function(e, result) {
                    $('#myModal').modal('hide')
                    $("#mioEditorError").trigger("click");
                }
            });
        })

        //提示信息
        $(".manhuaTip").manhuaTip({
            timeOut : 1000//停留时间
        });

         //设置nav active
        var $lastChild = $("#dashboard-menu>li:last-child");
        $lastChild.addClass('active');
        $("#blogNav").addClass('active').find('li:last-child a').addClass('active');
        // border
        $('<div class="pointer">'+
          '<div class="arrow"></div>'+
          '<div class="arrow_border"></div>'+
          '</div>').appendTo($lastChild);                       

    });

</script>
<input type="button" value="错误" id = "mioEditorError" class="manhuaTip"  style = "display: none;" ty="error" msg="出错了" />
<input type="button"  value="成功" id = "mioEditorSucess" class="manhuaTip" style = "display: none;" ty="succ" msg="修改成功！" />
<!--<input type="button"  value="消息" class="manhuaTip" ty="notice" msg="好消息，漫画的提示插件发布了" />-->
<!--<input type="button"  value="等待" class="manhuaTip" ty="loading" msg="正在提交您的请求，请稍候..." />-->

</body>

</html>