<% include header.html %>


<!-- main container -->
<div class="content">

    <!-- settings changer -->
    <div class="skins-nav">
        <a href="#" class="skin first_nav selected">
            <span class="icon"></span><span class="text">Default skin</span>
        </a>
        <a href="#" class="skin second_nav" data-file="mioback/css/compiled/skins/dark.css">
            <span class="icon"></span><span class="text">Dark skin</span>
        </a>
    </div>

    <div id="pad-wrapper" class="datatables-page">

    <div class="row">
    <div class="col-md-12">

    <table id="example">
    <thead>
    <tr>
        <th tabindex="0" rowspan="1" colspan="1">id
        </th>
        <th tabindex="0" rowspan="1" colspan="1">标题
        </th>
        <th tabindex="0" rowspan="1" colspan="1">类别
        </th>
        <th tabindex="0" rowspan="1" colspan="1">日期
        </th>
        <th tabindex="0" rowspan="1" colspan="1">编辑
        </th>
        <th tabindex="0" rowspan="1" colspan="1">删除
        </th>

    </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot>
    <tr>
        <th rowspan="1" colspan="1">id</th>
        <th rowspan="1" colspan="1">标题</th>
        <th rowspan="1" colspan="1">类别</th>
        <th rowspan="1" colspan="1">日期</th>
        <th rowspan="1" colspan="1">编辑</th>
        <th rowspan="1" colspan="1">删除</th>

    </tr>
    </tfoot>

    </table>

    </div>
    </div>

    </div>

</div>
<!-- end main container -->


<!-- scripts -->
<% include footer.html %>
<script src="mioback/js/jquery.dataTables.js"></script>
<!-- tan -->
<script src="manhuaTip/js/manhuaTip.1.0.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
//        $.ajax({
//            url: '/test',
//            dataType: 'json',
//            type: 'get',
//            success: function(data) {
//                console.log(data);
//            }
//        });
        $('#example').dataTable({
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "sAjaxSource": '/miobackgetblog',
            "aoColumns": [
                { "mData": "_id", 'sClass':'hiddenTdId'},
                { "mData": "blogTitle" },
                { "mData": "blogCategory.categoryName", "render": function(data) {
                    return '<span>'+data+'</span>';
                } },
                { "mData": "blogDate" },
                { "mData": null, "render": function(data) {
                    return '<a class="btn btn-success" onclick = "blogEditor(this)"><i class="fa fa-edit icon-small"></i> 编辑</a>';
                } },
                { "mData": null , "render": function(data) {
                    var blogId = data._id;
                    var categoryId = data.blogCategory._id;
                    return '<a class="btn btn-danger" onclick = blogDelete(this,"'+ blogId +'","'+ categoryId +'")><i class="fa fa-trash icon-small"></i> 删除</a>';
                } }
            ]
        });

        //提示信息
        $(".manhuaTip").manhuaTip({
            timeOut : 1000//停留时间
        });

        //设置nav active
        var $lastChild = $("#dashboard-menu>li:last-child");
        $lastChild.addClass('active');
        $("#blogNav").addClass('active').find('li:nth-child(2) a').addClass('active');
        // border
        $('<div class="pointer">'+
          '<div class="arrow"></div>'+
          '<div class="arrow_border"></div>'+
          '</div>').appendTo($lastChild);        

    });

    //删除日记
    function blogDelete(me, blogId, categoryId) {
        data = {
            me: me,
            blogId: blogId,
            categoryId:categoryId
        }
        dataTableToDo(data, '/miobackdeleteblogbyId', function(result, trObj) {
            if(result.success === true) {

                $(trObj).hide(600,function(){
                    $("#mioDeleteSucess").trigger("click");
                });
            }else{
                $("#mioDeleteError").trigger("click");
            }
        })

    }

    function dataTableToDo(data, url, callBack) {

        var trObj = $(data.me).parent().parent();
        $.ajax({
            url: url,
            type: 'post',
            data: {blogId: data.blogId, categoryId: data.categoryId, _csrf: '<%=csrf %>'},
            //data: {blogId : trObj.children('td')[0].innerText, blogCategory: trObj.children('td')[5].innerText},
            dataType: 'json',
            success: function(result) {
                callBack(result, trObj);
            }

        });
    }

    //编辑日记
    function blogEditor(me) {
        location.href = "/miobackeditorblogbyId?id="+$(me).parent().parent().children('td')[0].innerText;
    }

</script>
<input type="button" value="错误" id = "mioDeleteError" class="manhuaTip"  style = "display: none;" ty="error" msg="出错了" />
<input type="button"  value="成功" id = "mioDeleteSucess" class="manhuaTip" style = "display: none;" ty="succ" msg="日记删除成功！" />
<!--<input type="button"  value="消息" class="manhuaTip" ty="notice" msg="好消息，漫画的提示插件发布了" />-->
<!--<input type="button"  value="等待" class="manhuaTip" ty="loading" msg="正在提交您的请求，请稍候..." />-->

</body>

