<!DOCTYPE html>
<html>
<head>
    <title>Detail Admin - Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap -->
    <link href="mioback/css/bootstrap/bootstrap.css" rel="stylesheet"/>
    <link href="mioback/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet"/>

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="mioback/css/compiled/layout.css"/>
    <link rel="stylesheet" type="text/css" href="mioback/css/compiled/elements.css"/>
    <link rel="stylesheet" type="text/css" href="mioback/css/compiled/icons.css"/>

    <!-- libraries -->
    <link href="mioback/css/lib/font-awesome.css" type="text/css" rel="stylesheet"/>
    <link href="mioback/css/lib/jquery.dataTables.css" type="text/css" rel="stylesheet" />

    <!-- this page specific styles -->
    <link rel="stylesheet" href="mioback/css/compiled/datatables.css" type="text/css" media="screen" />

    <!-- open sans font -->
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />-->

    <!-- lato font -->
    <!--<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />-->

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style>
        .hiddenTdId{
            display: none;
        }
    </style>

    <!-- tan -->
    <link rel="stylesheet" href="manhuaTip/css/manhuaTip.1.0.css" type="text/css" media="screen" />
</head>
<body>
<!-- navbar -->
<header class="navbar navbar-inverse" role="banner">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" id="menu-toggler">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/backindex">
            <img src="mioback/img/logo.png" alt="logo"/>
        </a>
    </div>
    <ul class="nav navbar-nav pull-right hidden-xs">
        <li class="hidden-xs hidden-sm">
            <input class="search" type="text"/>
        </li>
        <li class="notification-dropdown hidden-xs hidden-sm">
            <a href="#" class="trigger">
                <i class="icon-warning-sign"></i>
                <span class="count">8</span>
            </a>

            <div class="pop-dialog">
                <div class="pointer right">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <div class="body">
                    <a href="#" class="close-icon"><i class="icon-remove-sign"></i></a>

                    <div class="notifications">
                        <h3>You have 6 new notifications</h3>
                        <a href="#" class="item">
                            <i class="icon-signin"></i> New user registration
                            <span class="time"><i class="icon-time"></i> 13 min.</span>
                        </a>
                        <a href="#" class="item">
                            <i class="icon-signin"></i> New user registration
                            <span class="time"><i class="icon-time"></i> 18 min.</span>
                        </a>
                        <a href="#" class="item">
                            <i class="icon-envelope-alt"></i> New message from Alejandra
                            <span class="time"><i class="icon-time"></i> 28 min.</span>
                        </a>
                        <a href="#" class="item">
                            <i class="icon-signin"></i> New user registration
                            <span class="time"><i class="icon-time"></i> 49 min.</span>
                        </a>
                        <a href="#" class="item">
                            <i class="icon-download-alt"></i> New order placed
                            <span class="time"><i class="icon-time"></i> 1 day.</span>
                        </a>

                        <div class="footer">
                            <a href="#" class="logout">View all notifications</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="notification-dropdown hidden-xs hidden-sm">
            <a href="#" class="trigger">
                <i class="icon-envelope"></i>
            </a>

            <div class="pop-dialog">
                <div class="pointer right">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <div class="body">
                    <a href="#" class="close-icon"><i class="icon-remove-sign"></i></a>

                    <div class="messages">
                        <a href="#" class="item">
                            <img src="mioback/img/contact-img.png" class="display" alt="user"/>

                            <div class="name">Alejandra Galván</div>
                            <div class="msg">
                                There are many variations of available, but the majority have suffered alterations.
                            </div>
                            <span class="time"><i class="icon-time"></i> 13 min.</span>
                        </a>
                        <a href="#" class="item">
                            <img src="mioback/img/contact-img2.png" class="display" alt="user"/>

                            <div class="name">Alejandra Galván</div>
                            <div class="msg">
                                There are many variations of available, have suffered alterations.
                            </div>
                            <span class="time"><i class="icon-time"></i> 26 min.</span>
                        </a>
                        <a href="#" class="item last">
                            <img src="mioback/img/contact-img.png" class="display" alt="user"/>

                            <div class="name">Alejandra Galván</div>
                            <div class="msg">
                                There are many variations of available, but the majority have suffered alterations.
                            </div>
                            <span class="time"><i class="icon-time"></i> 48 min.</span>
                        </a>

                        <div class="footer">
                            <a href="#" class="logout">View all messages</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle hidden-xs hidden-sm" data-toggle="dropdown">
                我的账户
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/logout">退出</a></li>
                <li><a href="/" target="_blank">主页</a></li>
            </ul>
        </li>
        <li class="settings hidden-xs hidden-sm">
            <a href="#" role="button">
                <i class="icon-cog"></i>
            </a>
        </li>
        <li class="settings hidden-xs hidden-sm">
            <a href="/logout" role="button">
                <i class="icon-share-alt"></i>
            </a>
        </li>
    </ul>
</header>
<!-- end navbar -->

<!-- sidebar -->
<div id="sidebar-nav">
    <ul id="dashboard-menu">
        <li>
            <a href="/backindex">
                <i class="icon-home"></i>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="chart-showcase.html">
                <i class="icon-signal"></i>
                <span>Charts</span>
            </a>
        </li>
        <li>
            <a class="dropdown-toggle" href="#">
                <i class="icon-group"></i>
                <span>Users</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu">
                <li><a href="user-list.html">User list</a></li>
                <li><a href="new-user.html">New user form</a></li>
                <li><a href="user-profile.html">User profile</a></li>
            </ul>
        </li>
        <li class="active">
            <a class="dropdown-toggle" href="#">
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <i class="icon-edit"></i>
                <span>blog</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="active submenu">
                <li><a href="/writeblog" >写日记</a></li>
                <li><a href="/manageblog" class="active">管理日记</a></li>
            </ul>
        </li>
    </ul>
</div>
<!-- end sidebar -->


<!-- main container -->
<div class="content">

    <!-- settings changer -->
    <div class="skins-nav">
        <a href="#" class="skin first_nav selected">
            <span class="icon"></span><span class="text">Default skin</span>
        </a>
        <a href="#" class="skin second_nav" data-file="mioback/css/compiled/skins/dark.css">
            <span class="icon"></span><span class="text">Dark skin</span>
        </a>
    </div>

    <div id="pad-wrapper" class="datatables-page">

    <div class="row">
    <div class="col-md-12">

    <table id="example">
    <thead>
    <tr>
        <th tabindex="0" rowspan="1" colspan="1">id
        </th>
        <th tabindex="0" rowspan="1" colspan="1">标题
        </th>
        <th tabindex="0" rowspan="1" colspan="1">类别
        </th>
        <th tabindex="0" rowspan="1" colspan="1">日期
        </th>
        <th tabindex="0" rowspan="1" colspan="1">编辑
        </th>
        <th tabindex="0" rowspan="1" colspan="1">删除
        </th>

    </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot>
    <tr>
        <th rowspan="1" colspan="1">id</th>
        <th rowspan="1" colspan="1">标题</th>
        <th rowspan="1" colspan="1">类别</th>
        <th rowspan="1" colspan="1">日期</th>
        <th rowspan="1" colspan="1">编辑</th>
        <th rowspan="1" colspan="1">删除</th>

    </tr>
    </tfoot>

    </table>

    </div>
    </div>

    </div>

</div>
<!-- end main container -->


<!-- scripts -->
<script src="mioback/js/jquery-latest.js"></script>

<script src="mioback/js/bootstrap.min.js"></script>
<script src="mioback/js/jquery.dataTables.js"></script>
<script src="mioback/js/theme.js"></script>

<!-- tan -->
<script src="manhuaTip/js/manhuaTip.1.0.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
//        $.ajax({
//            url: '/test',
//            dataType: 'json',
//            type: 'get',
//            success: function(data) {
//                console.log(data);
//            }
//        });
        $('#example').dataTable({
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "sAjaxSource": '/miobackgetblog',
            "aoColumns": [
                { "mData": "_id", 'sClass':'hiddenTdId'},
                { "mData": "blogTitle" },
                { "mData": "blogCategory.categoryName", "render": function(data) {
                    return '<span>'+data+'</span>';
                } },
                { "mData": "blogDate" },
                { "mData": null, "render": function(data) {
                    return '<a class="btn btn-success" onclick = "blogEditor(this)"><i class="icon-edit icon-small"></i> 编辑</a>';
                } },
                { "mData": null , "render": function(data) {
                    var blogId = data._id;
                    var categoryId = data.blogCategory._id;
                    return '<a class="btn btn-danger" onclick = blogDelete(this,"'+ blogId +'","'+ categoryId +'")><i class="icon-trash icon-small"></i> 删除</a>';
                } }
            ]
        });

        //提示信息
        $(".manhuaTip").manhuaTip({
            timeOut : 1000//停留时间
        });

    });

    //删除日记
    function blogDelete(me, blogId, categoryId) {
        data = {
            me: me,
            blogId: blogId,
            categoryId:categoryId
        }
        dataTableToDo(data, '/miobackdeleteblogbyId', function(result, trObj) {
            if(result.success === true) {

                $(trObj).hide(600,function(){
                    $("#mioDeleteSucess").trigger("click");
                });
            }else{
                $("#mioDeleteError").trigger("click");
            }
        })

    }

    function dataTableToDo(data, url, callBack) {

        var trObj = $(data.me).parent().parent();
        $.ajax({
            url: url,
            type: 'post',
            data: {blogId: data.blogId, categoryId: data.categoryId, _csrf: '<%=csrf %>'},
            //data: {blogId : trObj.children('td')[0].innerText, blogCategory: trObj.children('td')[5].innerText},
            dataType: 'json',
            success: function(result) {
                callBack(result, trObj);
            }

        });
    }

    //编辑日记
    function blogEditor(me) {
        location.href = "/miobackeditorblogbyId?id="+$(me).parent().parent().children('td')[0].innerText;
    }

</script>
<input type="button" value="错误" id = "mioDeleteError" class="manhuaTip"  style = "display: none;" ty="error" msg="出错了" />
<input type="button"  value="成功" id = "mioDeleteSucess" class="manhuaTip" style = "display: none;" ty="succ" msg="日记删除成功！" />
<!--<input type="button"  value="消息" class="manhuaTip" ty="notice" msg="好消息，漫画的提示插件发布了" />-->
<!--<input type="button"  value="等待" class="manhuaTip" ty="loading" msg="正在提交您的请求，请稍候..." />-->

</body>

</html>